.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    font-family: "Bungee", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d1d5db; /* Tailwind's gray-100 */
}

main {
    flex: 1;
}

#magnet {
    width: 20vw;              /* 20% of page width */
    height: 20vh;             /* 20% of page height */
    background-color: white;  
    border: 4px solid #E63946; /* magnet red */
    border-radius: 12px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.header {
    display: flex;
    justify-content: space-between; /* pushes left + right apart */
    align-items: center;            /* vertically centers them */
    padding: 20px;
}

.title-left {
    margin: 0;
    text-align: left;
}

.title-right {
    margin: 0;
    text-align: right;
}

.footer {
    text-align: center;
    padding: 20px;
}
